@font-face {
    font-family: thasadith;
    src: url("./assets/Thasadith-Regular.ttf");
}

@font-face {
    font-family: mono;
    src: url("./assets/CutiveMono-Regular.ttf");
}

#menu {
    position: fixed;
    top: -256px;
}

#menu:hover{
    top: 0;
}

    #menu img {
        width: 256px;
    }

    #menu p {
        position: absolute;
        top: 128px;
        left: 75px;
        font-size: 20px
    }

        #menu p a {
            color: darkslategrey;
            text-decoration: none;
        }

.dayType {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: right;
    display: block;
    background-color: #FFFFFFE6;
    padding: 10px;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    margin-bottom: 1rem;
}

    .dayType p {
        text-align: center;
        font-size: 5rem;
        margin: 0;
        line-height: 1.25;
    }

.schedule {
    margin-left: auto;
    margin-right: 1rem;
    padding: 10px;
    display: block;
    background-color: #FFFFFFE6;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    margin-bottom: 1rem;
}

.schedule h2 {
    margin: 0;
}

.nothighlight {
    background-color: #F2CA64;
}

.highlight {
    background-color: #FFB800;
}

.period {
    margin: 0 auto;
    margin-top: 5px;
    display: block;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}
    .period input {
        width: 100%;
        font-family: thasadith;
        font-size: 2rem;
        text-align: left;
        padding: 0;
        padding-left: 10px;
        margin: 0;
        border-style: hidden;
        background-color: #00000000;
    }

        .period input:hover {
            border-style: hidden;
            background-color: #FFFFFF50;
        }

        .period input:focus {
            outline-width: 0;
        }

    .period h2 {
        font-size: 2rem;
        text-align: left;
        padding: 0;
        padding-left: 10px;
        margin: 0;
    }

    .period b {
        text-align: left;
        float: left;
        padding-left: 7.5px;
    }

    .period p {
        font-family: mono;
        display: inline;
        text-align: right;
        float: right;
        padding: 0;
        padding-right: 10px;
        margin: 0;
    }

#assignments {
    margin-left: auto;
    margin-right: 1rem;
    text-align: left;
    padding: 10px;
    display: block;
    background-color: #FFFFFFE6;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    margin-bottom: 1rem;
}

    #assignments h2 {
        margin: 0;
    }

    #assignments div div {
        cursor: move;
        user-select: none;
        background-color: #F2CA64;
        padding: 5px;
        margin-top: 5px;
    }

        #assignments div div:hover {
            background-color: #FFB800;
        }

        #assignments div div input {
            font-family: thasadith;
            font-weight: 900;
            height: 1.5rem;
            vertical-align: middle;
            background-color: #00000000;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            border-radius: 5px;
            box-sizing: border-box;
        }

            #assignments div div input::placeholder {
                color: black;
            }

            #assignments div div input:disabled {
                color: black;
                background-color: #00000030;
            }

            #assignments div div input:disabled:hover {
                background-color: #00000030;
            }

            #assignments div div label input {
            visibility: hidden;
            vertical-align: middle;
            display: block;
            height: 0;
            width: 0;
            position: absolute;
            overflow: hidden;
            }

        #assignments div div label span {
            vertical-align: middle;
            height: 1.5rem;
            width: 1.5rem;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            display: inline-block;
            box-sizing: border-box;
            border-radius: 5px;
        }


[type=checkbox]:checked + span { /* <-- Style its checked state */
    background: black;
}

            #assignments div div input:hover {
                background-color: #FFFFFF50;
            }

.blue {
    color: blue;
}

.red {
    color: red;
}

#bg {
    position: fixed;
    top: 0;
    z-index: -1;
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 110vw auto;
    width: 100vw;
    height: 100vh;
}

.header {
    font-size: 100px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.about {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FFFFFFE6;
    padding: 25px;
}

.about h2 {
    margin: 0;
}

    .about img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

#clubs {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

    #clubs tr {
        border: 1px solid black;
    }

        #clubs tr th {
            background-color: #F2CA64;
            border: 1px solid black;
        }

    #clubs td {
        border: 1px solid black;
        padding: 1px;
        padding-left: 5px;
    }

body {
    font-family: thasadith;
    overflow-x: hidden;
    margin: 0;
}